/*******************************************************/
/*  Web del romanticismo-hoja de estilo de autores     */
/*  Autor: Miguel Falcón                               */
/*  versión 1.0 - 24/10/2022                           */
/*******************************************************/

/************* estilo general *******************/

@font-face {
    font-family: titulos;
    src: url('./../fonts/RobotoCondensed-BoldItalic.ttf');
}

@font-face {
    font-family: texto;
    src: url('./../fonts/FaunaOne-Regular.ttf');
}

body{font-family: texto;
    font-size: 1.2em;
    box-sizing: border-box; /* para que cuente en el with, desde el borde hacia adentro */
    /* background-color: beige; */
    background-image: url('../images/patronpirata.jpg');
}

#wrapper{
        width:80%;
        background-color: bisque;
        margin: auto;
        padding: 2%;
}

h1,h2,h3 {font-family: titulos;}

h1{text-decoration: underline;}

p{text-align: justify;
    text-indent: 2em;}


#espronceda {width: 20%;
            float: right;
            padding: 15px;
            }

.limpiafloat{
            clear: both; /* anula el apilamiento de contenidos creado por float */
}

/***************** media queries ***************************/

@media only screen and (width<=900px){ /* se abre espacio de excepción*/
    /* una a una se modifican los cambios*/
    #espronceda {width:50% ;}
    }

@media only screen and (width<=500px){

    #wrapper{width: 100%;} /* el wrapper debe ocupar toda la pantalla*/

    #espronceda {width:100% ;
                padding: 0 0 15px 0;} /* solo mantengo el espaciado con el texto*/
        
}